.checkoutButton {
  font-size: 1.5rem;
  color: white;
  background-color: #eda245;
  border: white solid 0.01rem;
  border-radius: 0.3rem;

  display: inline-block;
  width: 10%;
  padding: 0.5rem;
  margin: 2rem auto 2rem 25%;
  outline: none;
}

.checkoutButton:hover {
  border: #fbe6d4 solid 0.01rem !important;
  color: #fbe6d4 !important;
  cursor: pointer;
}
