.homeHeaderContainer {
/*   background: rgb(249,230,230);
  background: linear-gradient(0deg, rgba(249,230,230,1) 0%, rgba(234,154,150,1) 100%);
  opacity: 80%; */
  
  /* height: 30vh; */
  width: 100vw;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4.4rem;
  font-weight: 550;
  text-align: center;
  align-self: center;
  opacity: 0%;
  margin-bottom: 5rem;
}

.homeContainer {
  margin-top: -4rem;
  padding-bottom: 35rem;
	-webkit-animation: homeContainer 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: homeContainer 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes homeContainer {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes homeContainer {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



.cardsContainer {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 padding: 2rem;  
 justify-items: center;
 
}

.cardContainer {
  border: solid .09rem #EDA245;
  border-radius: .2rem;
  width: 30rem;
}

.cardGroup:hover {
  color: #EDA245;
}
