.homeHeaderContainer {
  width: 100vw;
}

.homeContainer {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  font-weight: 550;
  text-align: center;
  opacity: 0%;
  margin: auto auto -20rem auto;
  height: 90vh;

  -webkit-animation: homeContainer 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: homeContainer 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes homeContainer {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes homeContainer {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* .cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  justify-items: center;
}

.cardContainer {
  border: solid 0.09rem #eda245;
  border-radius: 0.2rem;
  width: 30rem;
}

.cardGroup:hover {
  color: #eda245;
} */
