.navGroup:hover {
  color: #eda245;
}

.navBarLogo {
  font-family: "Great Vibes", cursive;
  font-size: 2.2rem;
  color: black;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.navBarLogo:hover {
  color: #eda245 !important;
}

.navBarLogo:active {
  color: black;
}

.navBarLogo:visited {
  color: black;
}

.navbarItem:hover {
  color: #eda245 !important;
}

.signupButton {
  border: white solid 0.01rem;
  background-color: #eda245 !important;
  color: white !important;
}

.signupButton:hover {
  border: #fbe6d4 solid 0.01rem !important;
  color: #fbe6d4 !important;
}

.loginButton {
  border: #f6ab6c solid 0.01rem !important;
  color: #f6ab6c !important;
}

.loginButton:hover {
  border: #f6ab6c solid 0.01rem !important;
  background-color: #ffecc7 !important;
  color: #f6ab6c !important;
}

.cartIcon {
  margin: auto 2rem auto 2rem;
  font-size: 1.5rem;
  text-align: center;
  align-content: center;
  color: #f6ab6c !important;
  cursor: pointer;
}

.cartIcon:hover {
  color: #fecb89;
  transform: translateY(1px);
}

.cartIcon:active {
  color: #f6ab6c;
}

.cartIcon:visited {
  color: #f6ab6c;
}
