.footerContainer {
  position: absolute;
  /*  bottom: 0; */
  width: 100%;
  height: 5rem;
}

.footerIcons {
  display: flex;
  justify-content: space-around;
  /*   padding: 2rem;
  margin: 2rem; */
  color: #eda245;
  margin-bottom: 2rem;
}

.footerIcons:link {
  color: #f08a5d;
}

/* visited link */
.footerIcons:visited {
  color: #fa7d09;
}

/* mouse over link */
.footerIcons:hover {
  color: #fecb89;
}

.footerAuthor {
  color: black;
}

.footerAuthor:hover {
  color: #fecb89;
}
