.rotatePicture {
  -webkit-animation: rotatePicture 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: rotatePicture 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: opacity 500ms ease-in;
}

@-webkit-keyframes rotatePicture {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rotatePicture {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  margin: auto auto 7rem auto;
  border-radius: 0.2rem;
}

.cardContainer {
  max-width: 40%;
  min-width: 30%;
  border: solid 0.09rem #eda245;
  border-radius: 0.2rem;
}

.cardContent {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.cardGroup:hover {
  color: #eda245;
}

/* Media Queries
 */
@media (max-width: 2000px) {
}
