.rotatePicture {
  -webkit-animation: rotate-in-2-bck-ccw 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotatePicture 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotatePicture {
  0% {
    -webkit-transform: translateZ(200px) rotate(45deg);
    transform: translateZ(200px) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) rotate(0);
    transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}
@keyframes rotatePicture {
  0% {
    -webkit-transform: translateZ(200px) rotate(45deg);
    transform: translateZ(200px) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) rotate(0);
    transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  justify-items: center;
}

.cardContainer {
  border: solid 0.09rem #eda245;
  border-radius: 0.2rem;
  width: 30rem;
}

.cardGroup:hover {
  color: #eda245;
}
