.rotatePicture {
  -webkit-animation: rotatePicture 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: rotatePicture 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: opacity 500ms ease-in;
}

@-webkit-keyframes rotatePicture {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rotatePicture {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  margin-bottom: 25rem;
  justify-items: center;
}

.cardContainer {
  border: solid 0.09rem #eda245;
  border-radius: 0.2rem;
  width: 30rem;
}

.cardGroup:hover {
  color: #eda245;
}
